<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel ="stylesheet" type = "text/css" href = "{{url_for('static', filename = 'style.css')}}">
</head>
<body>
    <div class = "topRow">
        <h1>*** Checkerboard ***</h1>
    </div>
    {% for i in range (0,y) %}
    <div class ="row">
        {% for i in range (0,x) %}
        <div class = "checkers" style = "background-color: {{color_ichi}};"></div>
        <div class = "checkers" style = "background-color: {{color_ni}};"></div>
        {% endfor %}
    </div>
    <div class = "row">
        {% for i in range (0,x) %}
        <div class = "checkers" style = "background-color: {{color_ni}};"></div>
        <div class = "checkers" style = "background-color: {{color_ichi}};"></div>
        {% endfor %}
    </div>
    {% endfor %}
    
    
</body>
</html>
